<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- config  head태그안에들어가는애들-->
<th:block th:replace="fragment/config :: configFragment"></th:block>
<!-- header -->
<body>
    <div>
        <th:block th:replace="fragment/header :: headerFragment"></th:block>
        <div class="container">
            <div>
                <!-- content -->
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>
        
        <!-- footer -->
        <th:block th:replace="fragment/footer :: footerFragment"></th:block>
    </div>
</body>
</html>