<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragment" class="container">
    <footer>
        <hr>
        <div class="center text-center" style="display: flex; flex-direction: row; justify-content: center;">
            <div style="margin-right: 16px; display: flex; align-items: center;">
                <img src="https://simpleicons.org/icons/gmail.svg" alt="mail-img" style="width: 46px; height: 46px;">
                <p style="margin-left: 8px; margin-top:8px;">choigoyo.q7@gmail.com</p>
            </div>
            <div style="margin-right: 16px; display: flex; align-items: center;">
                <img src="https://simpleicons.org/icons/velog.svg" alt="vleog-img" style="width: 46px; height: 46px;">
                <p style="margin-left: 8px; margin-top:8px;"><a href="https://velog.io/@choigoyo_o" style="text-decoration: none; color: black;">valog</a></p>
            </div>
            <div style="display: flex; align-items: center;">
                <img src="https://simpleicons.org/icons/git.svg" alt="gitHub-img" style="width: 46px; height: 46px;">
                <p style="margin-left: 8px; margin-top:8px;"><a href="https://github.com/CHOIGOYO" style="text-decoration: none; color: black;">gitHub</a></p>
            </div>
        </div>
    </footer>
</div>

</html>

